<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb
">
<head>
<title>User List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="bootstrap.min.css"
	th:href="@{bootstrap.min.css}" />
</head>
<body>
	<div class="col-3"></div>
	<div class="container col-6">
		<h1>Account</h1>
		<table class="table table-active">
			<tr>
				<th>Name</th>
				<th>Fullname</th>
				<th>Email</th>
				<th>Address</th>
				<th>Photo</th>
				<th>Actions</th>
			</tr>
			<tr th:each="acc : ${acc}">
				<td th:text="${acc.Username}"></td>
				<td th:text="${acc.Fullname}"></td>
				<td th:text="${acc.Email}"></td>
				<td th:text="${acc.Address}"></td>
				<td th:text="${acc.Photo}"></td>
				<td><a th:href="@{/accounts/edit?id={id}(id=${acc.id})}"
					class="btn btn-primary">Edit</a> <a
					th:href="@{/accounts/delete?id={id}(id=${acc.id})}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		</table>
		<a href="/accounts/add" class="btn btn-success">Create</a>
	</div>
</body>
</html>